*.elc
*~
.DS_Store
.cask
.last-package-update-day
.mc-lists.el
.places
.yas-compiled-snippets.el
/elpa
/eshell
/tmp
/url
ac-comphist.dat
auto-save-list
backups
custom.el
emms
history
lispcustom.el
project-explorer-cache/
projectile.cache
session.*
swank
tramp
recentf
custom.el
initcustom.el
